<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000"></p-confirmDialog>
<p-toast></p-toast>
<div class="container mt-4">
  <div class="card">
    <div class="card-body">


      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <span class="h4">
            Habitaciones Registrados
          </span>
        </ng-template>

        <ng-template pTemplate="right">
          <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-secondary mr-2"
            routerLink="/room/register-room"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt styleClass="p-datatable-sm" [columns]="cols" exportFilename="habitaciones" [value]="rooms"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando desde {first} hasta {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[10,20,30,50,100]" [globalFilterFields]="[
          'number',
          'state',
          'roomTypeId',
          'rateId'
        ]">


        <ng-template pTemplate="caption">

          <div class="row">
            <div class="col-6">

              <button type="button" pButton pRipple icon="pi pi-file " (click)="dt.exportCSV()" class="me-2"
                pTooltip="CSV" tooltipPosition="top"></button>

              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-success me-2" pTooltip="XLS" tooltipPosition="top"></button>


              <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="top"></button>

            </div>
            <div class="col"></div>
            <div class="col">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                  placeholder="Palabra Clave" />
              </span>
            </div>

          </div>

        </ng-template>
        <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="number">
              Número
              <p-sortIcon field="number"></p-sortIcon>

            </th>
            <th pSortableColumn="state">
              Estado <p-sortIcon field="state"></p-sortIcon>
            </th>
            <th pSortableColumn="roomTypeId">
              Tipo Habitación <p-sortIcon field="roomTypeId"></p-sortIcon>
            </th>
            <th pSortableColumn="rateId">
              Tarifa <p-sortIcon field="rateId"></p-sortIcon>
            </th>
            <th>Acción</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-room>
          <tr>

            <td>{{room.number}}</td>
            <td>
              <p-badge value="{{textInBadge(room.state)}}" severity="{{colorInBadge(room.state)}}"></p-badge>
            </td>
            <td>{{room.roomTypeId}}</td>
            <td>{{room.rateId}}</td>

            <td>

              <button type="button" pButton pRipple icon="pi pi-pencil"
                class="p-button-info p-button-text p-button-sm me-1" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/room/register-room',room.id]"></button>

              <button type="button" pButton pRipple icon="pi pi-eye"
                class="p-button-warning p-button-text me-1 p-button-sm" pTooltip="Visualizar" tooltipPosition="top"
                [routerLink]="['/room/view-room',room.id]"></button>

              <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-danger p-button-text p-button-sm"
                pTooltip="Eliminar" tooltipPosition="top" (click)="delete(room.id)"></button>

          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Habitaciones no encontradas.</td>
          </tr>
        </ng-template>

      </p-table>
    </div>
  </div>
</div>