<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<p-toast></p-toast>

<div class="container pt-4">
    <div class="row">
        <div class="col-lg-12 offset-lg-0">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <span class="h4">
                        Realizar reserva
                    </span>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Volver" icon="pi pi-arrow-left" class="p-button-secondary mr-2"
                        routerLink="/booking/list-bookings"></button>
                </ng-template>
            </p-toolbar>
            <div class="card text-center">
                <div class="card-body">

                    <p class="me-6">¿Reserva con empresa?</p>
                    <p-inputSwitch [(ngModel)]="valueInputSwitch"></p-inputSwitch>


                    <div *ngIf="!valueInputSwitch">
                        <form class="mt-4" [formGroup]="formRegister">

                            <div class="row">
                                <p class="float-start">Nombre (*)</p>

                                <div class="col">
                                    <p class="float-start">Fecha de llegada reserva(*)</p>
                                    <div class="float-start" style="position:relative;">
                                        <p-calendar [minDate]="todayDate" [maxDate]="maxDateCheckIn" [showIcon]="true"
                                            inputId="icon" formControlName="checkInDate" (click)="validateDate()"
                                            [(ngModel)]="checkInDate">
                                        </p-calendar>

                                    </div>

                                </div>

                                <div class="col">
                                    <p class="float-start">Fecha de salida reserva(*)</p>
                                    <div class="float-start">
                                        <p-calendar [disabled]="!checkInDate" formControlName="checkOutDate"
                                            [(ngModel)]="checkOutDate" [minDate]="checkInDate"
                                            [maxDate]="maxDateCheckOut" [showIcon]="true" inputId="icon"></p-calendar>
                                    </div>

                                </div>

                                <div class="col">
                                    <p class="float-start">Cantidad de Habitaciones (*)</p>
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon"><i
                                                class="fa-solid fa-arrow-down-1-9"></i></span>
                                        <p-inputNumber formControlName="numberOfRooms" [disabled]="!checkOutDate"
                                            [showButtons]="true"
                                            decrementButtonClass="p-button-outlined p-button-secondary"
                                            incrementButtonClass="p-button-outlined p-button-secondary"
                                            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="1"
                                            [max]="rooms.length" placeholder="Ej. 3" [(ngModel)]="numberOfRooms">
                                        </p-inputNumber>
                                    </div>
                                </div>

                            </div>

                            <div class="mt-4" *ngIf="numberOfRooms">

                                <p-accordion [multiple]="false">
                                    <p-accordionTab *ngFor="let num of numSequence(numberOfRooms); index as i"
                                        header="Habitación {{i+1}}">

                                        <div class="row">

                                            <div class="col">
                                                <p class="float-start">Habitación (*)</p>
                                                <select [disabled]="!checkOutDate" formControlName="roomId"
                                                    [(ngModel)]="roomIds[i]" class="form-select form-select-lg"
                                                    aria-label="Default select example">
                                                    <option *ngFor="let r2 of rooms" value="{{r2.id}}">
                                                        {{r2.number}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col">
                                                <p class="float-start">Cantidad de Personas (*)</p>
                                                <div class="p-inputgroup">
                                                    <span class="p-inputgroup-addon"><i
                                                            class="fa-solid fa-person-arrow-up-from-line"></i></span>
                                                    <p-inputNumber [disabled]="!roomIds[i]" [showButtons]="true"
                                                        decrementButtonClass="p-button-outlined p-button-secondary"
                                                        incrementButtonClass="p-button-outlined p-button-secondary"
                                                        incrementButtonIcon="pi pi-plus"
                                                        decrementButtonIcon="pi pi-minus" [min]="1"
                                                        [max]="getNumberMaxPersonsInRoom(roomIds[i])"
                                                        placeholder="capacidad" formControlName="numMaxPersonsPerRoom"
                                                        [(ngModel)]="numMaxPersonsPerRoom[i]">
                                                    </p-inputNumber>
                                                </div>
                                            </div>

                                        </div>

                                    </p-accordionTab>
                                </p-accordion>
                            </div>

                            <div class="col mt-4">
                                <button type="button" *ngIf="!(numMaxPersonsPerRoom.length==0)"
                                    class="btn btn-dark btn-lg" role="button"
                                    (click)="addSummClients()">Continuar</button>
                            </div>

                            <div class="mt-4" formArrayName="clientsBooking">

                                <div class="mt-2" *ngFor="let clientInBooking of clientsBooking.controls; let j=index">

                                    <p-accordion [multiple]="false">
                                        <p-accordionTab header="Persona {{j+1}}">

                                            <div [formGroupName]="j">

                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <div class="p-inputgroup">
                                                            <input type="text" pInputText placeholder="Buscar cliente"
                                                                class="p-inputtext-sm" formControlName="searchDocument"
                                                                [(ngModel)]="searchDocumentNumber[j]">
                                                            <p-button [loading]="loading"
                                                                (onClick)="searchClient(j,searchDocumentNumber[j])"
                                                                icon="pi pi-search" styleClass="p-button-sm">
                                                            </p-button>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col">

                                                        <p class="float-start">Nombre (*)</p>
                                                        <div class="p-inputgroup">
                                                            <span class="p-inputgroup-addon"><i
                                                                    class="fa-sharp fa-solid fa-spell-check"></i></span>
                                                            <input formControlName="name" [(ngModel)]="names[j]"
                                                                type="text" pInputText placeholder="ej. william">
                                                        </div>

                                                    </div>

                                                    <div class="col">

                                                        <p class="float-start">Apellido (*)</p>
                                                        <div class="p-inputgroup">
                                                            <span class="p-inputgroup-addon"><i
                                                                    class="fa-sharp fa-solid fa-spell-check"></i></span>
                                                            <input formControlName="lastName" [(ngModel)]="lastNames[j]"
                                                                type="text" pInputText placeholder="ej. william">
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row mt-4">

                                                    <div class="col">

                                                        <p class="float-start">Número de Documento (*)</p>
                                                        <div class="p-inputgroup">
                                                            <span class="p-inputgroup-addon"><i
                                                                    class="fa-solid fa-hashtag"></i></span>
                                                            <p-inputNumber [disabled]="clientsSearched[j]" type="text"
                                                                formControlName="document" [(ngModel)]="documents[j]"
                                                                pKeyFilter="int" placeholder="Número de documento">
                                                            </p-inputNumber>

                                                        </div>

                                                    </div>

                                                    <div class="col">

                                                        <p class="float-start">Teléfono (*)</p>
                                                        <div class="p-inputgroup">
                                                            <span class="p-inputgroup-addon"><i
                                                                    class="fa-solid fa-mobile-retro"></i></span>

                                                            <input formControlName="phoneNumber"
                                                                [(ngModel)]="phoneNumbers[j]" type="text" pInputText
                                                                class="form-control" pKeyFilter="int"
                                                                placeholder="Ej. 3002781911">

                                                        </div>

                                                    </div>


                                                </div>


                                            </div>

                                        </p-accordionTab>
                                    </p-accordion>

                                </div>

                                <p-button styleClass="p-button-success mt-2"
                                    *ngIf="this.formRegister.value.clientsBooking.length>=1" [loading]="loading2"
                                    label="Registrar Clientes" role="button" icon="fa-solid fa-person-circle-plus"
                                    (click)="addClientsDb();obtainTotal()"></p-button>

                            </div>

                            <div class="mt-4">

                                <p-button styleClass="p-button-secondary" [disabled]="formRegister.invalid"
                                    [loading]="loading3" label="Registrar Reserva" (click)="register()"
                                    role="button"></p-button>
                            </div>
                        </form>
                    </div>

                    <div *ngIf="valueInputSwitch">

                        <form class="mt-4" [formGroup]="formRegisterWithCompany">

                            <div class="row">

                                <div class="col">
                                    <p class="float-start me-6">Fecha de llegada (*)</p>
                                    <div class="float-start" style="position:relative;">
                                        <p-calendar [minDate]="todayDate" [maxDate]="maxDateCheckIn" [showIcon]="true"
                                            inputId="icon" (click)="validateDate()" formControlName="checkInDate"
                                            [(ngModel)]="checkInDate">
                                        </p-calendar>

                                    </div>

                                </div>

                                <div class="col">
                                    <p class="float-start me-6">Fecha de salida (*)</p>
                                    <div class="float-start" style="position:relative;">
                                        <p-calendar [disabled]="!checkInDate" formControlName="checkOutDate"
                                            [(ngModel)]="checkOutDate" [minDate]="checkInDate"
                                            [maxDate]="maxDateCheckOut" [showIcon]="true" inputId="icon"></p-calendar>
                                    </div>

                                </div>

                                <div class="col">
                                    <p class="float-start me-6">Empresa (*)</p>
                                    <div class="float-start" style="position:relative;">
                                        <p-dropdown (onClick)="verifyCompanies()" [options]="companies"
                                            formControlName="companySelected" [(ngModel)]="companySelected"
                                            optionLabel="name" [filter]="true" filterBy="name"
                                            emptyMessage="No hay empresas registradas."
                                            emptyFilterMessage="Empresa no encontrada." [showClear]="true"
                                            placeholder="Seleccione una empresa">

                                        </p-dropdown>
                                    </div>


                                </div>

                                <div class="col">
                                    <p class="float-start">Cantidad de Habitaciones (*)</p>
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon"><i
                                                class="fa-solid fa-arrow-down-1-9"></i></span>
                                        <p-inputNumber formControlName="numberOfRooms" [disabled]="!checkOutDate"
                                            [showButtons]="true"
                                            decrementButtonClass="p-button-outlined p-button-secondary"
                                            incrementButtonClass="p-button-outlined p-button-secondary"
                                            incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [min]="1"
                                            [max]="rooms.length" placeholder="Ej. 3" [(ngModel)]="numberOfRooms">
                                        </p-inputNumber>
                                    </div>
                                </div>

                            </div>

                            <div class="mt-4" *ngIf="numberOfRooms">

                                <p-accordion [multiple]="false">
                                    <p-accordionTab *ngFor="let num of numSequence(numberOfRooms); index as i"
                                        header="Habitación {{i+1}}">

                                        <div class="row">

                                            <div class="col">
                                                <p class="float-start">Habitación (*)</p>
                                                <select [disabled]="!checkOutDate" formControlName="roomId"
                                                    [(ngModel)]="roomIds[i]" class="form-select form-select-lg"
                                                    aria-label="Default select example">
                                                    <option *ngFor="let r2 of rooms" value="{{r2.id}}">
                                                        {{r2.number}}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="col">
                                                <p class="float-start">Cantidad de Personas (*)</p>
                                                <div class="p-inputgroup">
                                                    <span class="p-inputgroup-addon"><i
                                                            class="fa-solid fa-person-arrow-up-from-line"></i></span>
                                                    <p-inputNumber [disabled]="!roomIds[i]" [showButtons]="true"
                                                        decrementButtonClass="p-button-outlined p-button-secondary"
                                                        incrementButtonClass="p-button-outlined p-button-secondary"
                                                        incrementButtonIcon="pi pi-plus"
                                                        decrementButtonIcon="pi pi-minus" [min]="1"
                                                        [max]="getNumberMaxPersonsInRoom(roomIds[i])"
                                                        placeholder="capacidad" formControlName="numMaxPersonsPerRoom"
                                                        [(ngModel)]="numMaxPersonsPerRoom[i]">
                                                    </p-inputNumber>
                                                </div>
                                            </div>

                                        </div>

                                    </p-accordionTab>
                                </p-accordion>
                            </div>

                            <div class="col mt-4">
                                <button type="button" *ngIf="!(numMaxPersonsPerRoom.length==0)"
                                    class="btn btn-dark btn-lg" role="button"
                                    (click)="addSummClientsWithCompany();loadClientsInCompany(companySelected.nit)">Continuar</button>
                            </div>

                            <div class="mt-4" formArrayName="clientsBooking">

                                <div class="mt-2"
                                    *ngFor="let clientInBooking of clientsBookingWithCompany.controls; let j=index">

                                    <p-accordion [multiple]="false">
                                        <p-accordionTab header="Persona {{j+1}}">

                                            <div [formGroupName]="j">

                                                <div class="row mt-4">

                                                    <div class="col">
                                                        <p class="float-start me-6 w-100">Persona (*)</p>
                                                        <div class="float-start w-100" style="position:relative;">
                                                            <p-dropdown [options]="clientsInCompany"
                                                                formControlName="client"
                                                                [(ngModel)]="clientsSelected[j]"
                                                                optionLabel="client.person.name" [filter]="true"
                                                                filterBy="client.person.name,client.person.lastName"
                                                                emptyMessage="No hay clientes registrados en esta empresa."
                                                                emptyFilterMessage="Cliente no encontrado."
                                                                [showClear]="true" placeholder="Seleccione un cliente">

                                                                <ng-template let-clientCompany pTemplate="item">

                                                                    <div>{{clientCompany.client.person.name}}
                                                                        {{clientCompany.client.person.lastName}}</div>

                                                                </ng-template>

                                                            </p-dropdown>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </p-accordionTab>
                                    </p-accordion>

                                </div>

                                <p-button styleClass="p-button-success mt-2"
                                    *ngIf="this.formRegisterWithCompany.value.clientsBooking.length>=1"
                                    [loading]="loading2" label="Añadir Clientes" role="button"
                                    icon="fa-solid fa-person-circle-plus" (click)="obtainTotal()"></p-button>

                            </div>

                            <div class="mt-4">

                                <p-button styleClass="p-button-secondary" [disabled]="formRegisterWithCompany.invalid"
                                    [loading]="loading3" label="Registrar Reserva" (click)="registerWithCompany()"
                                    role="button"></p-button>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>