<div class="container mt-4" >
    <div class="card">
        <div class="card-body">
            
            
            <span class="h3" style="position: 100px;">
                Empleados Registrados
            </span>   
            <button class="btn btn-dark btn-lg float-end" routerLink="/register-employee">Agregar</button>
            


            <table class="table mt-5">
                <thead class="table-dark">
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Cargo</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>William</td>
                    <td>Castañeda</td>
                    <td>3152743445</td>
                    <td>turo</td>
                    <td>
                        <i class="fa-sharp fa-solid fa-user-pen fa-lg text-info" style="margin-right: 1em;"></i>
                        <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
