<p-breadcrumb [model]="items" [home]="home" *ngIf="!roomType.id else elseBreadCrumb"></p-breadcrumb>
<ng-template #elseBreadCrumb>
    <p-breadcrumb [model]="itemsElse" [home]="home"></p-breadcrumb>
</ng-template>

<div class="container pt-4">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <span class="h4" *ngIf="!roomType.id else elseTittle">
                        Registrar Tipo Habitación
                    </span>
                    <ng-template #elseTittle>
                        <span class="h4">
                            Actualizar Tipo Habitación
                        </span>
                    </ng-template>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Volver" icon="pi pi-arrow-left" class="p-button-secondary mr-2"
                        routerLink="/roomType/list-room-types"></button>
                </ng-template>
            </p-toolbar>
            <div class="card text-center">
                <div class="card-body">
                    <form class="mt-4" [formGroup]="formRegister">
                        <div class="row">
                            <div class="col">
                                <p class="float-start">Nombre (*)</p>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i
                                            class="fa-sharp fa-solid fa-spell-check"></i></span>
                                    <input formControlName="name" type="text" pInputText class="form-control"
                                        placeholder="Nombre tipo habitación"
                                        [(ngModel)]="roomType.name">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-4">
                                <p class="float-start">Capacidad Máxima (*)</p>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i
                                            class="fa-solid fa-person-arrow-up-from-line"></i></span>
                                    <p-inputNumber formControlName="numMaxGuests" [showButtons]="true"
                                        decrementButtonClass="p-button-outlined p-button-secondary"
                                        incrementButtonClass="p-button-outlined p-button-secondary"
                                        incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" 
                                        [min]="1"
                                        [max]="200" placeholder="capacidad"
                                        [(ngModel)]="roomType.numMaxGuests">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </div>


                    </form>
                    <div class="mt-4">
                        <button [disabled]="formRegister.invalid" class="btn btn-dark btn-lg" role="button"
                            (click)="register()" *ngIf="!roomType.id else elseBlock">Registrar</button>
                    </div>


                    <ng-template #elseBlock>
                        <div class="mt-4">
                            <button [disabled]="formRegister.invalid" class="btn btn-dark btn-lg" role="button"
                                (click)="update()">Actualizar</button>
                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
</div>