<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <a href="home">
      <img src="../../../assets/las orquideas (2).png" height="60" class="mr-2">
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <p-avatar style="cursor:pointer" label="WC" styleClass="p-mr-2" size="large" shape="circle" (click)="avatarMenu.toggle($event)"></p-avatar>
    <p-tieredMenu #avatarMenu [model]="itemsMenuAvatar" [popup]="true"></p-tieredMenu>
  </ng-template>

</p-menubar>
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Registrar
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/register-employee">Empleado</a></li>
            <li><a class="dropdown-item" href="#">Cliente</a></li>
            <li><a class="dropdown-item" href="#">Empresa</a></li>
            <li><a class="dropdown-item" href="#">Tarifa</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Consultar
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/list-employees">Empleado</a></li>
            <li><a class="dropdown-item" href="#">Cliente</a></li>
            <li><a class="dropdown-item" href="#">Empresa</a></li>
            <li><a class="dropdown-item" href="#">Tarifa</a></li>
          </ul>
        </li>
      </ul>
      <div class="nav-item dropdown d-flex">
          <p-avatar href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"  size="large" label="P" styleClass="p-mr-2"
            shape="circle"></p-avatar>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">E</a></li>
            <li><a class="dropdown-item" href="#">T</a></li>
          </ul>
          <div>contenidozxvzsvvssvava</div>
      </div>
    </div>
  </div>
</nav>
-->