<div class="container pt-4">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Agregar Empleado</h3>
                    <form class="mt-4">
                        <div class="row">
                            <div class="col">
                                <p class="float-start">Nombre (*)</p>
                                <input type="text" name="" id="" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="col">
                                <p class="float-start">Apellido (*)</p>
                                <input type="text" name="" id="" class="form-control" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <p class="float-start">Tipo de Documento (*)</p>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccione una opción</option>
                                    <option value="CC">Cédula de Ciudadanía</option>
                                    <option value="PA">Pasaporte</option>
                                    <option value="TI">Tarjeta de Identidad</option>
                                    <option value="CE">Cédula de Extranjería</option>
                                  </select>
                            </div>
                            <div class="col">
                                <p class="float-start">Número de Documento (*)</p>
                                <input type="text" name="" id="" class="form-control" placeholder="Número de documento">
                            </div>
                            <div class="col">
                                <p class="float-start">Teléfono (*)</p>
                                <input type="text" name="" id="" class="form-control" placeholder="Teléfono">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <p class="float-start">Puesto de Trabajo (*)</p>
                                <input type="text" name="" id="" class="form-control" placeholder="Puesto">
                            </div>
                            <div class="col">
                                <p class="float-start">Correo Electrónico (*)</p>
                                <input type="email" name="" id="" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <p class="float-start">Nombre de usuario (*)</p>
                                <input type="text" name="" id="" class="form-control" placeholder="uno.ejemplo">
                            </div>
                            <div class="col">
                                <p class="float-start">Contraseña (*)</p>
                                <input type="password" class="form-control">
                            </div>
                            <div class="col">
                                <p class="float-start">Repetir Contraseña (*)</p>
                                <input type="password" class="form-control">
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="submitpp" class="btn btn-dark btn-lg">Registrar Empleado</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
